/*  your css code here. If applicable */
#container::before{
	content:"before content";
	color:#f00;
	margin:20px;
	font-size:20px;
	
	
}
#container::after{
	content:"After Element";
	color:#00f;
	margin:20px;
	font-sizeL:20px;
}